{% for box in vagrant_provisioner_boxes_to_build %}
{% if box.name in vagrant_provisioner_boxes_changed
   or box.name not in vagrant_provisioner_boxes_found
   or vagrant_provisioner_boxes_force_build %}
{% set name="tmp-" + box.name + "-" + 99999999 | random | string %}
- name:  "{{ name }}"
  box: {{ box | to_json }}
  hostname: "{{ name | regex_replace("_", "-") }}"
{% for attribute in box %}
{% if attribute not in ['name', 'box', 'hostname'] %}
  {{ attribute }}: {{ box[attribute] | to_json }}
{% endif %}
{% endfor %}
{% endif %}
{% else %}
[]
{% endfor %}
