{%- set box = vagrant_provisioner_boxes
              | selectattr("name", "equalto", vm.box)
              | first -%}
Vagrant.configure(2) do |config|
  config.vm.box = "{{ box.address }}"
  config.vm.define "{{ vm.name }}"
  config.vm.hostname = "{{ vm.hostname }}"
  config.vm.synced_folder ".", "/vagrant", disabled: true
  config.vm.provider "{{ box.provider | default(vagrant_provisioner_box_provider) }}" do |provider|
  	provider.driver = "{{ vm.driver | default(vagrant_provisioner_vm_driver) }}"
  	provider.memory = {{ vm.memory | default(vagrant_provisioner_vm_memory) }}
  	provider.cpus = {{ vm.cpus | default(vagrant_provisioner_vm_cpus) }}
  end
{% if vm.playbook | default(vagrant_provisioner_vm_playbook) | length > 0 %}
  config.vm.provision "ansible" do |ansible|

    ansible.playbook = "{{ vm.playbook | default(vagrant_provisioner_vm_playbook) }}"
{% if vm.ansible_python_interpreter | default(vagrant_provisioner_vm_ansible_python_interpreter) | length > 0 %}
    ansible.extra_vars = {
      ansible_python_interpreter: "{{ vm.ansible_python_interpreter | default(vagrant_provisioner_vm_ansible_python_interpreter) }}"
    }
{% endif %}
  end
{% endif %}
end
